# Ignore Python virtual environment
venv/

# Ignore MongoDB data directory
mongo_data/

# Ignore any .env or .env.local files containing environment variables
.env
.env.local

# Ignore .pyc and .pyo files
*.pyc
*.pyo

# Ignore __pycache__ directories
__pycache__/

# Ignore logs and databases
*.log
*.sqlite

# Ignore development files
*.swp
*.swo
*.swn
*.bak

# Ignore other common files and directories
*.bak
*.cache
*.egg-info/
dist/

# Ignore macOS files
.DS_Store
