<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Data Processing App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <header>
        <h1>My Data Processing App</h1>
    </header>
    <nav class="navbar">
        <ul class="nav-items">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('create_task') }}">Submit Task</a></li>
            <li><a href="{{ url_for('get_all_tasks') }}">View Tasks</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <!-- Content from other templates will be inserted here -->
        <!-- Add this section inside the <body> tag, preferably after the <header> tag -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; DiFfrenzZ 2023 - My Data Processing App</p>
    </footer>
</body>

</html>